h1{
    color: red;
}

.modall {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modall-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
height: 40rem;
width: 40rem;
border-radius: 0.5rem;
text-align: center;
visibility:hidden;
opacity: 0;
}

.modall-content.active{
    visibility: visible;
    opacity:1;
    z-index:1000;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    
}

.show-modall {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.image-cropper{
    border-radius:50%;
    width:400px;
    height:400px;
    background-image:url("/static/image/regular-special.jpg");
    background-size:cover;
}

img{
    width: 100%;
    height: auto;
    margin-top: 0px;
}
