{% extends "orders/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">

{% block title %}
    Pinochio's Pizza & Subs: Menu
{% endblock %}

{% block body%}
    <body>
        <div>
            <div class ="row">
                <div class="col-sm-6">
                    {% if user is None %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'sign_up' %}">Sign Up</a>
                    {% else %}
                        <h2>Hello, {{ user.first_name }}</h2>
                        <a href="{% url 'logout' %}">Log Out</a>
                        <a href="{% url 'order_view' %}"> My Orders</a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'manage_order' %}">Manage Orders</a>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'cart_view' %}">Cart</a>
                </div>
            </div>

        </div>
            <h1>Menu</h1>

            <table class="table">
                <h3>Regular Pizza</h3> 
                <div class="image-cropper"></div>
                <thead>
                    <tr> 
                        <th scope="col">Name</th>
                        <th scope="col"> Small</th>
                        <th scope="col">Large</th>
                    </tr>
                </thead>
                <tbody>
                    {% for regularpizza in regularpizzas %}
                        <tr>
                            <td>{{regularpizza.name}}</td>
                            <td>{{regularpizza.small}}<button type="button"  class="regular"  data-size="Small" data-name='{{regularpizza.name}}' data-price='{{regularpizza.small}}'>Order</button></td>
                            <td>{{regularpizza.large}}<button type="button"  class="regular"  data-size="Large" data-name='{{regularpizza.name}}' data-price='{{regularpizza.large}}'>Order</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3> Sicilian Pizza</h3>

            <table class="table">
                <thead>
                    <tr> 
                        <th scope="col">Name</th>
                        <th scope="col"> Small</th>
                        <th scope="col">Large</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sicilianpizza in sicilianpizzas %}
                        <tr>
                            <td>{{ sicilianpizza.name }}</td>
                            <td>{{ sicilianpizza.small }}<button type="button"  class="sicilian" data-size="Small" data-name='{{ sicilianpizza.name }}' data-price='{{ sicilianpizza.small }}'>Order</button></td>
                            <td>{{ sicilianpizza.large }}<button type="button"  class="sicilian" data-size="Large" data-name='{{ sicilianpizza.name }}' data-price='{{ sicilianpizza.large }}'>Order</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

       
            
            <h3> Subs</h3>

            <table class="table">
                <thead>
                    <tr> 
                        <th scope="col">Name</th>
                        <th scope="col"> Small</th>
                        <th scope="col">Large</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub in subs %}

                        {% if sub.small == 0 %} 
                        <tr>
                            <td colspan="2">{{sub.name}}</td>
                            <td>{{sub.large}}<button type="button" class="subs" data-size='Large' data-name='{{sub.name}}' data-price='{{sub.large}}'>Order</button></td>
                        </tr>
                        {% elif sub.large == 0 %}
                        <tr>
                            <td>{{sub.name}}</td>
                            <td colspan="2">{{sub.small}}<button  type="button" class="subs" data-size='Small' data-name='{{sub.name}}' data-price='{{sub.small}}'>Order</button></td>
                        </tr>
                        {% else %}
                            <tr>
                                <td>{{sub.name}}</td>
                                <td>{{sub.small}}<button type="button" class="subs" data-size='Small' data-name='{{sub.name}}' data-price='{{sub.small}}'>Order</button></td>
                                <td>{{sub.large}}<button type="button" class="subs" data-size='Large' data-name='{{sub.name}}' data-price='{{sub.large}}'>Order</button></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>    
            
            <h3> Pasta</h3>

            <table class="table">
                <thead>
                    <tr> 
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pasta in pastas %}
                        <tr>
                            <td>{{pasta.name}}</td>
                            <td>{{pasta.price}}<button type="button" class="pasta" data-name='{{pasta.name}}' data-price='{{pasta.price}}'>Order</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   

            <h3> Salads </h3>

            <table class="table">
                <thead>
                    <tr> 
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salad in salads %}
                        <tr>
                            <td>{{salad.name}}</td>
                            <td>{{salad.price}}<button type="button" class="salads" data-name='{{salad.name}}' data-price='{{salad.price}}'>Order</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   

            <h3> Dinner Platters</h3> 

            <table class="table">
                <thead>
                    <tr> 
                        <th>Name</th>
                        <th>Small</th>
                        <th>Large</th>
                    </tr>
                </thead>
                <tbody>
                    {% for platter in dinner_platters %}
                        <tr>
                            <td>{{ platter.name }}</td>
                            <td>{{ platter.small }}<button type="button" class="platter" data-name='{{platter.name}}' data-price='{{platter.small}}' data-size='Small'>Order</button></td>
                            <td>{{ platter.large }}<button type="button" class="platter" data-name='{{platter.name}}' data-price='{{platter.large}}' data-size='Large'>Order</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 

            <div class="modall"></div>
            <div class="modall-content">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="toppings-selection">
                    </div>
                    <button type='submit' id='add-to-cart' data-name='rockm' class="btn btn-outline-primary"> Add to Cart</button>
                </form>
            </div>
    </body>
{% endblock %}

