{% extends "orders/base.html" %}

{% block body %}
    <div class="container">
        <h1>login</h1>
        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if request.GET.next %} <!-- get the value of the 'next' parameter in request-->
                <input type="hidden" name="next" value="{{request.GET.next}}"> <!-- 'value' would be /orders. -->
            {% endif %}
            <div>
                <div>username</div>
                <input name="username" type="text"/>
            </div>
            <div>
                <div>password</div>
                <input name="password" type="password"/>
            </div>
            <input type="submit" value="Login"/>
        </form>

        <p> New to Pinnochio's ?</p>
        <a href="{% url 'sign_up' %}?next={{request.GET.next}}"><button class="btn btn-outline-primary">Create Account</button></a>
    </div>
{% endblock %}
